/* nav */
.active_nav{
    color: white !important;
}
.active_nav:hover{
    color: rgb(0, 0, 0) !important;
}

.card_float {
    float: left;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .card_float {
        margin-left: 10%;

    }
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    height: 250px;
}

a {
    text-decoration: none;
    color: white;
}

.category_model_button {
    float: left;
    margin-left: 20px;


}

.category_table_image {
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 600px) {
    .category_table_image {
        height: 50px;
        width: 70px;
    }
}

.category_card_customer {
    float: left;
    width: 182px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .category_card_customer {
        width: 128px;
    }
}

.category_card_customer img {
    height: 100px;
    width: 100px;
}

.Product_table_image {
    height: 200px;
    width: 300px;
}
.edit_headings{
    margin-top: 5px;
}
.form_btn_stock{
    float: left;
    margin:5px
}