nav
.active_nav {
    color: white !important;
}

.active_nav:hover {
    color: rgb(0, 0, 0) !important;
}

.card_float {
    float: left;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .card_float {
        margin-left: 10%;

    }
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    height: 250px;
}

a {
    text-decoration: none;
    color: white;
}

.category_model_button {
    float: left;
    margin-left: 20px;


}

.category_table_image {
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 600px) {
    .category_table_image {
        height: 50px;
        width: 70px;
    }
}

.category_card_customer {
    float: left;
    width: 182px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .category_card_customer {
        width: 128px;
    }
}

.category_card_customer img {
    height: 100px;
    width: 100px;
}

.Product_table_image {
    height: 175px;
    width: 250px;
}

.edit_headings {
    margin-top: 5px;
    text-align: center;
}

.form_btn_stock {
    float: left;
    margin: 5px
}


#main_body {
    min-height: 593px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    text-align: justify;
    margin-top:1% ;

}

/* star rating */

body {

    background-color: #f7f6f6;
}

.card {

    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 12px;
}

.circle-image img {

    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer;

}


.dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000;
}

.name {
    margin-top: -21px;
    font-size: 18px;
}


.fw-500 {
    font-weight: 500 !important;
}


.start {

    color: rgba(0, 128, 0, 0);
}

.stop {
    color: red;
}


.rate {

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons {
    top: 36px;
    position: relative;
}


.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px;
}


.rating-submit:hover {

    color: #fff;
}

.carousel_image_div {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 20px !important;

}

.carousel_image_slide {
    height: 500px;
    width: 100%;

}

.footer_text{
    text-align: center;
   padding: 5px;
   
}